@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.sidenav {
  display: none;
}

@media screen and (min-width: 992px) {
  .sidenav {
    display: block;
  }
  .wrapper {
    grid-template-columns: 20% auto;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 25% auto;
  }
}
