.list-message__wrapper {
  border-bottom: 1px solid rgba(black, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  margin: 24px 16px;
}

.list-message__wrapper:last-child {
  border-bottom: none;
  margin-top: 0;
}

.content {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 16px;
  width: 60px;
}
