.container {
  display: grid;
  grid-template-columns: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: 70% auto;
  }
}

.options-container {
  position: fixed;
  width: 100%;
  background: orangered;
  display: flex;
  justify-content: space-around;
  bottom: 80px;
  left: 0;
  width: 100%;
  padding: 16px;
  color: #ffffff;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
